@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap);

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}
.space{
    height: 100px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 36px;
    font-weight: 700;
    color: #5c3c2d;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header p {
    font-size: 18px;
    color: #777;
}

.card-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: calc(33.33% - 30px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 30px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    text-align: center;
    padding: 30px;
}

.card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #5c3c2d;
    margin-top: 0;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
}

.benefits {
    margin-bottom: 20px;
}

.benefits li {
    font-size: 14px;
    color: #666;
    padding-left: 20px;
    position: relative;
    list-style: none;
}

.benefits li::before {
    content: "\2022"; /* Bullet point */
    color: #5c3c2d;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 5px;
}

.price {
    font-weight: 600;
    font-size: 20px;
    color: #5c3c2d;
    margin-top: 10px;
}

.subscribe-button {
    padding: 12px 30px;
    background-color: #5c3c2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.subscribe-button:hover {
    background-color: #4a3023;
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 576px) {
    .card {
        width: calc(100% - 30px);
    }
}