{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
<body>
    
    <div class="container">
        <h1>Oops!</h1>
        <p>We encountered an error:</p>
        <p class="error-code">{{ error_code }}</p>
        <p>{{ error_message }}</p>
        <a href="/" class="button">Go Back</a>
    </div>
    {% endblock %}
</body>
</html>